<!DOCTYPE html>
<html lang="en">
    
<head>
    {% include 'components/_head.html' %}
</head>



<body>
    {% block header %}
        {% include 'components/_header.html'  %}
    {% endblock %}
            
    {% include 'components/_page_loader.html' %}

    {% block page_content %}{% endblock %}

    {% block footer %}
        {% include 'components/_footer.html'  %}   
    {% endblock %}

    {% block scripts %}
        {{ moment.include_moment() }}
        {% include 'components/_scripts.html'  %}
    {% endblock %}
    
</body>
</html>