<!DOCTYPE html>
<html lang="en">
    
<head>
    {% include 'components/_head.html' %}
    {% block page_head %}{% endblock %}
</head>

<body style="width: 100%; margin: 0; padding: 0; display: flex; 
flex-direction: column; flex-grow: 1;" class="bg-primary">
    {% block header %}
        {% include 'components/_header.html'  %}
    {% endblock %}

    {% include 'components/_page_loader.html' %}

    {% block page_content %}{% endblock %}

    {% block scripts %}
        {{ moment.include_moment() }}
        {% include 'components/_scripts.html'  %}
    {% endblock %}
    
</body>
</html>