<footer class="footer pt-4 pb-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="d-flex text-center justify-content-center align-items-center">
                
                <ul class="social-buttons mb-4 mb-lg-0">
                    <li>
                        <a href="https://www.facebook.com/alexander_frantsev/" data-toggle="tooltip" data-placement="top" title="facebook" class="icon icon-md me-3">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/asfrants/" data-toggle="tooltip" data-placement="top" title="instagram" class="icon icon-md me-3">
                            <span class="fab fa-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/as_frantsev/" data-toggle="tooltip" data-placement="top" title="telegram" class="icon icon-md me-3">
                            <span class="fab fa-telegram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/asfrantsev" data-toggle="tooltip" data-placement="top" title="linkedin" class="icon icon-md me-3">
                            <span class="fab fa-linkedin"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/whoknowswhocares" data-toggle="tooltip" data-placement="top" title="github" class="icon icon-md me-3">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                </ul>
            </div>
        
        </div>
        <div class="row">
            <div class="col mb-md-0">
    
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">Copyright © FTech 2022-<span
                            class="current-year">2024</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>