<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5YQMPQD11Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5YQMPQD11Y');
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- favicon -->
<link rel="shortcut icon" href="/static/assets/favicon/favicon.ico">
<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/static/assets/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/static/assets/favicon/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="/static/assets/favicon/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/assets/favicon/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/static/assets/favicon/favicon-64.png">
<link rel="icon" type="image/png" sizes="48x48" href="/static/assets/favicon/favicon-48.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon/favicon-16.png">
<link rel="apple-touch-icon" href="/static/assets/favicon/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/assets/favicon/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/assets/favicon/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/assets/favicon/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/assets/favicon/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/favicon/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/favicon/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/assets/favicon/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon/favicon-180.png">
<link rel="icon" type="image/svg_xml" href="/static/assets/favicon/favicon.svg">
<link rel="manifest" href="/static/assets/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#0C1C30">
<meta name="msapplication-TileImage" content="/static/assets/favicon/favicon-144.png">
<meta name="msapplication-config" content="/static/assets/favicon/browserconfig.xml">


<!-- Fontawesome -->
<!-- <link type="text/css" href="../static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
<link type="text/css" href="/static/css/fontawesome.min.css" rel="stylesheet">
<link type="text/css" href="/static/css/brands.min.css" rel="stylesheet">
<link type="text/css" href="/static/css/regular.min.css" rel="stylesheet">
<link type="text/css" href="/static/css/solid.min.css" rel="stylesheet">

<link type="text/css" href="/static/css/loader.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="/static/css/pixel.css" rel="stylesheet">

<!-- Other -->
<link type="text/css" href="/static/css/other.css" rel="stylesheet">

<title id="pageTitle"></title>
