
<header class="header-global">
    
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
        <div class="container position-relative">
            
            <div class="d-flex align-items-center">
                <a class="navbar-brand me-lg-3" href="{{ url_for('main.index') }}">
                    <img class="navbar-brand-dark" src="../../static/assets/favicon/favicon.svg" alt="menuimage">
                </a>
                <button class="navbar-toggler ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            
            <div class="navbar-collapse collapse me-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-1 collapse-close">
                            <div class="col-1 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" 
                                    data-bs-target="#navbar_global" aria-controls="navbar_global" 
                                    aria-expanded="false" title="close" aria-label="Toggle navigation">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-center">
                    <li class="nav-item">
                        <a href="{{ url_for('main.index') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.about') }}" class="nav-link">AboutMe</a>
                    </li>                    
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="componentsDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                            Projects
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu-lg" aria-labelledby="componentsDropdown">
                            <div class="row g-0">
                                <div class="col ps-0 py-3">
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item">
                                            <a class="dropdown-item" href="{{ url_for('main.ihome') }}">iHome</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="dropdown-item" href="{{ url_for('main.mlsport') }}">MLSport</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="dropdown-item" href="{{ url_for('main.trade4me') }}">Trade4Me</a>
                                        </li>
                                    </ul>
                                </div>           
                            </div>                 
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.sd_art') }}" class="nav-link">SD Art</a>
                    </li> 
                    <li class="nav-item">
                        <a href="{{ url_for('main.panel') }}" class="nav-link mb-sm-3 mb-md-0" > ControlPanel <span class="fas fa-lock ms-1"></span></a>
                    </li>
                </ul>
            </div>
            
            <div class="d-flex align-items-center">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-gray-100"></span> LogOut </a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="btn btn-outline-gray-100"></span> LogIn </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
