<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="../../static/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="any" href="../../static/assets/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="../../static/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/favicon/favicon-16x16.png">
<link rel="icon" type="image/svg_xml" href="../../static/assets/favicon/favicon.svg">
<link rel="manifest" href="../../static/assets/favicon/site.webmanifest">

<!-- Fontawesome -->
<!-- <link type="text/css" href="../static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
<link type="text/css" href="../../static/assets/css/fontawesome.min.css" rel="stylesheet">
<link type="text/css" href="../../static/assets/css/brands.min.css" rel="stylesheet">
<link type="text/css" href="../../static/assets/css/regular.min.css" rel="stylesheet">
<link type="text/css" href="../../static/assets/css/solid.min.css" rel="stylesheet">

<link type="text/css" href="../../static/assets/css/loader.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="../../static/assets/css/pixel.css" rel="stylesheet">

<!-- Other-->
<link type="text/css" href="../../static/assets/css/other.css" rel="stylesheet">

<title id="pageTitle"></title>
