<script src="/static/assets/js/jquery.min.js"></script> <!-- исчезновение алертов -->
<script src="/static/assets/js/pixel.js"></script>
<script src="/static/assets/js/vivus.min.js"></script> <!-- загрузка предстраницы -->

<script src="/static/assets/js/bootstrap.min.js"></script> <!-- верхняя панель -->
<script src="/static/assets/js/headroom.min.js"></script> <!-- выпадающцй список -->
<script src="/static/assets/js/smooth-scroll.polyfills.min.js"></script>
<script src="/static/assets/js/util.js"></script> <!--исчезновение формы -->
<script src="/static/assets/js/other.js"></script>

<script type="text/javascript">var submitted=false;</script>
<script type="text/javascript">
    $('#msgform').on('submit', function(e) {
        $('#msgform *').fadeOut(2000);
        $('#msgform').prepend('<div class="alert alert-primary d-flex align-items-center justify-content-center" role="alert">Message delivered. I will contact you soon.</div>');
    });
</script>
<script type="text/javascript">
    setTimeout(function() {
      $('#flashed-messages').fadeOut('slow');
  }, 1300);
</script>
