server {
    listen 80;
    server_name dbms_template_domain www.dbms_template_domain;

    location / {
        include proxy_params;
        proxy_pass http://unix:dbms_template_path/gunicorn/gunicorn.sock;
    }
}
