{% extends "components/_base.html" %}

{% block page_content %}
<title> About Me </title>
<meta name="description" content="My name is Alexander Frantsev (Александр Францев). 
Learn a bit about the person behind the site. 
Check out the resume and get to know who's pulling the strings.">

<!-- Hero -->
<section class="section-header bg-secondary text-white">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-8 col-lg-8 mb-3">
                <h1 class="display-3 mb-4 text-center">Summary</h1>
                <div class="row mb-3">
                    <div class="col-md-3 text-left">
                        <p class="lead fw-bold">Experience</p>
                    </div>
                    <div class="col-md-8 text-left">
                        <h5 class="h5 mb-0">Analyst, ML Engineer</h5>
                        <p class="mb-2">5 years</p>
                        <h5 class="h5 mb-0">Software Engineer</h5>
                        <p class="mb-2">5 years</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 text-left">
                        <p class="lead fw-bold">Education</p>
                    </div>
                    <div class="col-md-8 text-left">
                        <h5 class="h5 mb-0">Specialist degree in Mathematics and Computer Science</h5>
                        <p class="mb-2">Russia, St.Petersburg State University, Dpt. of Applied Mathematics</p>
                        <h5 class="h5 mb-0">Master degree in Economics</h5>
                        <p class="mb-2">Russia, European University at St.Petersburg, Dpt. of Economics</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 text-left">
                        <p class="lead fw-bold">Interests</p>
                    </div>
                    <div class="col-md-8 text-left">
                        <p class="mb-0">Global Macro Economics and Stock Traiding</p>
                        <p class="mb-0">Analytics and Machine Learning</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card-body bg-primary border-gray-300 rounded">
                    <img src="../static/assets/images/me/_me_square_opt_1.jpg" class="card-img-top rounded" alt="Alexander Frantsev">
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Alexander Frantsev</h3>
                        <span class="card-subtitle fw-normal">as.frantsev@gmail.com</span>
                        <ul class="list-unstyled d-flex mt-3 mb-0">
                            <li>
                                <a href="https://www.facebook.com/as.frantsev" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/asfrants/" target="_blank" aria-label="instagram social link" class="icon-instagram me-3">
                                    <span class="fab fa-instagram"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://t.me/as_frantsev/" target="_blank" aria-label="telegram social link" class="icon-slack me-3">
                                    <span class="fab fa-telegram"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/in/asfrantsev" target="_blank" aria-label="linkedin social link" class="icon-linkedin me-3">
                                    <span class="fab fa-linkedin"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/whoknowswhocares" target="_blank" aria-label="github social link" class="icon-github me-3">
                                    <span class="fab fa-github"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Hero section -->
<div class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center mb-0 mb-lg-6">
                <h2 class="display-3">Skills</h2>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-sm-4 col-md-3 mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li class="list-item h3 mb-4">Development</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">SAS (EG, EM, FS, Viya, VDMML)</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">Python, PyTorch, Java, R, SQL</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">HTML, CSS, JS</li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li class="list-item h3 mb-4">Data Science</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">Data Wrangling</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">Data Mining</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">A/B Testing</li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li class="list-item h3 mb-4">Others</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">English - advanced</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">Russian - native</li>
                    <li class="list-item h6 fw-normal mb-3 text-muted">Sport - swimming</li>
                </ul>
            </div>
        </div>
        <!-- <div class="row justify-content-center mb-3">
            <div class="col-md-2 text-center">
                <div class="card bg-primary-app mb-0">
                    <div class="card-body">
                        <img src="../static/assets/images/ico/design.ico" class="card-img-top" alt="Product Design">
                        <p class="card-text mb-0">Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card bg-primary-app mb-0">
                    <div class="card-body">
                        <img src="../static/assets/images/ico/prototype.ico" class="card-img-top" alt="Prototyping">
                        <p class="card-text mb-0">Prototype</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card bg-primary-app mb-0">
                    <div class="card-body">
                        <img src="../static/assets/images/ico/develop.ico" class="card-img-top" alt="Development">
                        <p class="card-text mb-0">Develop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card bg-primary-app mb-0">
                    <div class="card-body">
                        <img src="../static/assets/images/ico/deliver.ico" class="card-img-top" alt="Delivery">                 
                        <p class="card-text mb-0">Deliver</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center mb-0 mb-lg-6">
                <h2 class="display-3"> Detailed </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-12 rounded border-gray-300">
                <div class="border-bottom px-4 py-3">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 pb-3 pb-md-0">
                            <h2 class="h5">Self-Employed</h2>
                        </div>
                        <div class="col-md-7 pb-2 pb-md-0">
                            <h3 class="h5 mb-3"></h3>
                                <h3 class="h5 mb-3">Trading</h3>
                                <h3 class="h5 mb-3">Other Projects</h3>
                                <!-- Leveraging my experience and skills to develop several services from scratch that are 
                                focused on the intersection of finance and machine learning. 
                                This undertaking involves a comprehensive range of tasks, encompassing the entire 
                                development process from server infrastructure setup and maintenance to data parsing, 
                                mining, and the creation of machine learning models. These services are being diligently 
                                crafted to be deployed in a production environment, ensuring their practical application and usability. -->
                        </div>
                        <div class="col-md-2 text-md-right"><span class="badge bg-primary">2022 - current</span></div>
                    </div>
                </div>
                <div class="border-bottom px-4 py-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-12 col-md-3 pb-3 pb-md-0">
                            <h2 class="h5">SAS Institute</h2>
                        </div>
                        <div class="col-md-7 pb-2 pb-md-0">
                            <h3 class="h5 mb-3">Analytics Consultant (CI & Retail)</h3>
                            <p class="mb-0">Analytical data-mart development, Data Analysis, 
                                Implementation of Machine Learning models, A/B testing, Business consulting</p>
                        </div>
                        <div class="col-md-2 text-md-right"><span class="badge bg-primary">2017 - 2022</span></div>
                    </div>
                    <div class="accordion" id="accordionSAS">
                        <div class="accordion-header align-items-center">
                            <div class="accordion-header text-center" id="headingOne" 
                            aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                                <span class="fas fa-caret-down"></span>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionSAS">
                                <div class="accordion-body">
                                    <div class="row align-items-center mb-3">
                                        <div class="col-12 col-md-3">
                                            <p class="mb-0"><strong>Banking, Internal Fraud.</strong></p>
                                            <p class="mb-0"><strong>Business Consultant.</strong></p>
                                        </div>
                                        <div class="col-md-9">
                                            Scope: Creation of fraud rules according to bank’s business processes and needs
                                        </div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-12 col-md-3">
                                            <p class="mb-0"><strong>Retail, Promo Optimization.</strong></p>
                                            <p class="mb-0"><strong>Analyst, ML Engineer.</strong></p>
                                        </div>
                                        <div class="col-md-9">
                                            Scope: Sales analysis, products segmentation, elasticity calculation. 
                                            Building data-marts for analytics and reporting. Optimization of promo-activities
                                        </div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-12 col-md-3">
                                            <p class="mb-0"><strong>Retail, Demand Forecasting.</strong></p>
                                            <p class="mb-0"><strong>Analyst, ML Engineer.</strong></p>
                                        </div>
                                        <div class="col-md-9">
                                            Scope: Time series analysis. Development data-marts. Building and tuning statistical models 
                                            (ARIMA, ETS). Implementation of machine learning models (RandomForest, GradientBoosting)
                                        </div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-12 col-md-3">
                                            <p class="mb-0"><strong>Banking, Customer Intelligence.</strong></p>
                                            <p class="mb-0"><strong>Analyst, ML Engineer, Business Consultant.</strong></p>
                                        </div>
                                        <div class="col-md-9">
                                            Scope: Segmentation of the customer base. Text analysis for categorization of payment descriptions. 
                                            Development of the PTB models for bank products recommendation. Successful launch marketing campaigns, A/B testing
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom px-4 py-5">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 pb-3 pb-md-0">
                            <h2 class="h5">European University at Saint Petersburg</h2>
                        </div>
                        <div class="col-md-7 pb-2 pb-md-0">
                            <h3 class="h5 mb-3">Master Degree in Finance</h3>
                            <p class="mb-0">

                            </p>
                        </div>
                        <div class="col-md-2 text-md-right"><span class="badge bg-primary">2015 - 2017</span></div>
                    </div>
                </div>
                <div class="border-bottom px-4 py-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-12 col-md-3 pb-3 pb-md-0">
                            <h2 class="h5">Ubiq Mobile LLC</h2>
                        </div>
                        <div class="col-md-7 pb-2 pb-md-0">
                            <h3 class="h5 mb-3">Software Engeneer</h3>
                            <p class="mb-0">Development services for enterprise clients and backend</p>
                            <p class="mb-0">Create a lightweight J2ME client</p>
                        </div>
                        <div class="col-md-2 text-md-right"><span class="badge bg-primary">2010 - 2015</span></div>
                    </div>
                    <div class="accordion" id="accordionUbiq">
                        <div class="accordion-header align-items-center">
                            <div class="accordion-header text-center" id="headingTwo" 
                            aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo">
                                <span class="fas fa-caret-down"></span>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionUbiq">
                                <div class="accordion-body">
                                    <div class="row align-items-center mb-3">
                                        <div class="col-12 col-md-3">
                                            <p><strong>.NET Developer</strong></p>
                                        </div>
                                        <div class="col-md-9">
                                            Scope: Development services for enterprise clients and main backend part of platform
                                        </div>
                                    </div>
                                    <div class="row align-items-center mb-3">
                                        <div class="col-12 col-md-3">
                                            <p><strong>J2ME Developer</strong></p>
                                        </div>
                                        <div class="col-md-9">
                                            Scope: Create a lightweight J2ME client using a self-developed 
                                            client-server protocol specifically designed for optimizing performance in limited internet connections.\
                                            Achievements: Grant by Microsoft Seed Fund, project expanded to LLC UbiqMobile - innovation platform for mobile services
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-5">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 pb-3">
                            <h2 class="h5">Saint Petersburg State University</h2>
                        </div>
                        <div class="col-md-7 pb-2">
                            <h3 class="h5 mb-3">Specialist Degree in Math and Computer Science</h3>
                            <p class="mb-0">

                            </p>
                        </div>
                        <div class="col-md-2 text-md-right"><span class="badge bg-primary">2008 - 2014</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section -->
<section class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mb-3">
                <!-- Contact Card -->
                <div class="card border-0 p-2 p-md-3 p-lg-5">
                    <div class="card-header bg-white border-0 text-center">
                        <h2 class="display-3 mb-3">Contact Me</h2>
                    </div>
                    <div class="card-body pt-0">
                        <form method="post" name="msgform" id="msgform" target="hidden_iframe" onsubmit="submitted=true;">
                            {{ form.hidden_tag() }}
                            <div class="mb-4">
                                <label for="name">Your Name</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                    <input type="text" class="form-control" placeholder="e.g. Bonnie Green" id="name" name="name" required>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="email">Your Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                    <input type="email" class="form-control" placeholder="example@company.com" id="email" name="email" required>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="message">Your Message</label>
                                <textarea placeholder="Your message" class="form-control" id="message" name="message" rows="4" required></textarea>
                            </div>
                            <div class="d-grid">
                                <button type="submit" name="submit" class="btn btn-secondary">Send message</button>
                            </div>
                        </form>
                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
                    </div>
                </div>
                <!-- End of Contact Card -->
            </div>
        </div>
    </div>
</section>
<!-- End of section -->

{% endblock %}