{% extends "components/_base.html" %}

{% block page_content %}
<title> iHome - Smart Home </title>
<meta name="description" content="Dive into the future with iHome page, dedicated to smart home solutions. 
Explore cutting-edge technologies that enhance comfort, security, and efficiency in your living space. 
Join me in embracing the evolution of home automation.">

<section class="section-header bg-primary text-white">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-md-4 text-center text-md-left mb-3">
                <h2 class="display-3 mb-3">iHome 
                    <a href="https://github.com/whoknowswhocares/iHome-raspi4" target="_blank" aria-label="github social link" class="icon-github me-3">
                        <span class="fab fa-github"></span>
                    </a>
                </h2>
                <p class="lead">One of my interests is automating daily routines, 
                    which is why I am working on home development. Not only it is cool and progressive, 
                    but it is also convenient to have your home adjust to your needs and ease your daily life. 
                    For this, I use Raspberry Pi 4 as a dedicated server with Home Assistant.
                </p>

            </div>
            <div class="col-md-8 mb-3">
                <div class="card-body bg-primary border-gray-300">
                    <img src="../static/assets/images/ihome/Architecture-iHome.png" class="card-img-top" alt="ihome scheme">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <h2 class="display-3 mb-4"> Home Assistant </h2>
                <!-- <p class="lead">Info</p> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="Carousel2" class="carousel slide" data-ride="carousel">
                
                <div class="carousel-inner col-12 mb-2">
                    <a class="carousel-control-next bg-primary col-2" href="#Carousel2" role="button" data-bs-slide="next">
                        <span class="fas fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <div class="carousel-item active">
                        <div class="card shadow">
                            <div class="row g-0 align-items-center">
                                <div class="col-md-4">
                                    <img class="card-img rounded-start zoomable" 
                                    src="../static/assets/images/ihome/tile_raspi4_opt.jpg" alt="Raspberry Pi 4">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="lead">Based on Raspberry Pi 4</p>
                                        <p class="card-text mb-2">
                                            Raspberry Pi 4 is a small and affordable single-board computer commonly used for home automation projects.
                                            It serves as the infrastructure for the server, running Home Assistant and connecting various smart devices.
                                            Its compact size, low power consumption, and versatility in supporting the smart home ecosystem.
                                            The use of batteries allows you to extend the work for 24 hours, even in the absence of electricity.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card shadow">
                            <div class="row g-0 align-items-center">
                                <div class="col-md-4">
                                    <img class="card-img rounded-start zoomable" 
                                    src="../static/assets/images/ihome/monitoring_laptop_opt.jpg" alt="Monitoring">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="lead">Web Interface</p>
                                        <p class="card-text mb-2">
                                            Home Assistant dashboard is user-friendly interface for monitoring and controlling smart devices.
                                            The customizable nature of the dashboard, allows users to arrange widgets, display sensor data, and control devices in a visually appealing manner.
                                            Key features like real-time data updates, intuitive navigation, and the ability to create custom views or layouts.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card shadow">
                            <div class="row g-0 align-items-center">
                                <div class="col-md-4">
                                    <img class="card-img rounded-start zoomable" 
                                    src="../static/assets/images/ihome/tile_phone_opt.jpg" alt="Phone">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="lead">Mobile Interface</p>
                                        <p class="card-text mb-2">
                                            Home Assistant dashboard accessible from a mobile devices as well.
                                            You can monitor and control your smart home from anywhere using smartphone, 
                                            ensures remote accessibility and convenience.
                                            Additional features like integration with Telegram bot, enabling users to interact with 
                                            smart home and execute scripts through chat commands.
                                            Integration with Voice Assistant as Yandex Alice in my case, allows to easely send commands without any dashboards.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card shadow">
                            <div class="row g-0 align-items-center">
                                <div class="col-md-4">
                                    <img class="card-img rounded-start zoomable" 
                                    src="../static/assets/images/ihome/integrations_laptop_opt.jpg" alt="Integrations">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="lead">Lots of Integrations</p>
                                        <p class="card-text mb-2">
                                            Wide range of integrations available, allows Home Assistant supports various protocols (Wi-Fi, Bluetooth, MQTT, Zigbee) 
                                            for seamless communication with different smart devices.
                                            Integrating new devices or services is straightforward, enhancing the versatility and expandability of the smart home setup.
                                            Single server for different manufacturers helps to avoid issues with generalizing automations and scripts.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card shadow">
                            <div class="row g-0 align-items-center">
                                <div class="col-md-4">
                                    <img class="card-img rounded-start zoomable" 
                                    src="../static/assets/images/ihome/nodered_laptop_2_opt.jpg" alt="Scripts">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="lead">Easy Automations</p>
                                        <p class="card-text mb-2">
                                            Drag-and-drop interface of Home Assistant's Node-RED integration for creating scripts and automations.
                                            You create complex automations by visually connecting nodes representing triggers, conditions, and actions.
                                            The flexibility of the system, allows users to design workflows and logical sequences 
                                            without the need for extensive coding knowledge.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card shadow">
                            <div class="row g-0 align-items-center">
                                <div class="col-md-4">
                                    <img class="card-img rounded-start zoomable" 
                                    src="../static/assets/images/ihome/vscode_2_laptop_opt.jpg" alt="VSCode">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <p class="lead">Code for Advanced</p>
                                        <p class="card-text mb-2">
                                            VS Code editor interface allows to create automations using code, providing greater flexibility and control over the automation logic.
                                            Availability of code syntax highlighting, auto-completion, and error checking features within the code editor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
