{% extends "components/_base.html" %}

{% block page_content %}
<section class="section-header bg-primary text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <div class="card shadow align-items-center border-0 text-center bg-secondary">
                    <div class="card-header border-0">
                        <img class="card-img" src="../static/assets/images/pages/work_in_progress_opt.jpg" alt="work in progress">
                    </div>
                    <div class="card-body">
                        <h1 class="h5 card-title">Page development in progress</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
