{% extends "components/_base.html" %}

{% block page_content %}
<title> ML Sport - Sport Betting Project </title>
<meta name="description" content="Interested in sports and tech? 
I am messing around with machine learning in the sports world. Check it out if you're curious.">

<section class="section-header bg-primary text-white">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="text-center text-md-left mb-3">
                <h2 class="display-3 mb-3"> ML Sport 
                    <a href="https://github.com/whoknowswhocares/ML_Sport_tt" target="_blank" aria-label="github social link" class="icon-github me-3">
                        <span class="fab fa-github"></span>
                    </a>
                </h2>
                <p class="lead">Are you interested in sports? If so, you may know that there are several bookmakers who accept bets 
                    on a wide range of sports. This project aims to identify inefficiencies in betting odds by 
                    leveraging machine learning algorithms to analyze statistical data. While a broker's coefficient 
                    reflects their belief in a particular outcome and takes into account current rates, our goal is 
                    to more accurately predict outcome. Ultimately, we aim to identify any distortions 
                    in bookmakers' coefficients relative to our predicted ones.
                </p>

            </div>
        </div>
    </div>
</section>
<div class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <h2 class="display-3 mb-4"> Working on It </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mb-2">
                <img src="../static/assets/images/pages/work_in_progress_opt.jpg" class="card-img-top rounded" alt="in progress">
            </div>
        </div>
    </div>
</div>
{% endblock %}
