{% extends "components/_base.html" %}

{% block page_content %}
<section class="section-header bg-secondary text-white">
    <div class="container-wide">
        <div class="row justify-content-center">
            <div class="col-lg-3 mb-3">
                <div class="card border-0 text-center bg-primary">
                    <div class="card-header border-0">
                        <a href="https://ihome.frants.site">
                            <img src="../static/assets/images/pages/ihome_laptop_opt.jpg" class="card-img-top rounded shadow border-0" alt="iHome">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title">iHome</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-0 text-center bg-primary">
                    <div class="card-header border-0">
                        <a href="http://kuma.frants.site/status/frants-site">
                            <img src="../static/assets/images/pages/kuma_opt.jpg" class="card-img-top rounded shadow border-0" alt="Monitoring">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title">Monitoring</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-0 text-center bg-primary">
                    <div class="card-header border-0">
                        <a href="http://10.0.0.6:9000">
                            <img src="../static/assets/images/pages/portainer_opt.jpg" class="card-img-top rounded shadow border-0" alt="Portainer">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title">Portainer PC</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-0 text-center bg-primary">
                    <div class="card-header border-0">
                        <a href="https://sd.frants.site">
                            <img src="../static/assets/images/pages/sd_opt.jpg" class="card-img-top rounded shadow border-0" alt="Stable Diffusion">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title">Stable Diffusion</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-0 text-center bg-primary">
                    <div class="card-header border-0">
                        <a href="https://media.frants.site">
                            <img src="../static/assets/images/pages/kodi_opt.jpg" class="card-img-top rounded shadow border-0" alt="Media">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title">Media</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-0 text-center bg-primary">
                    <div class="card-header border-0">
                        <a href="http://10.0.0.4:80">
                            <img src="../static/assets/images/pages/OMV_opt.jpg" class="card-img-top rounded shadow border-0" alt="NAS">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title">NAS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
