{% extends "components/_base.html" %}

{% block page_content %}

<section class="section-header bg-primary"> 
    <div class="container-wide">    
        <div class="row">
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/home_1_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">
                            sofa, interior, cyberpunk room decor,lots of detailes, futuristic decor, window to the city, 
                            illustration, comic style, cyberpunk in the background, night city, insane details, intricate details, 
                            hyperdetailed, 4k textures sharp details, ornate, beautiful, atmosphere, vibe, technology, concept art illustration, 
                            greg rutowski, volumetric lighting, particles, colorful clothes, by Jean-Baptiste Monge, Gilles Beloeil, 
                            Tyler Edlin, Marek Okon, Pixar, album art, comic style, golden ratio, perfect composition, a masterpiece, 
                            trending on artstation, oversaturated, epic realistic, hdr, intricate details, rutkowski, intricate, cinematic, 
                            detailed
                        </p>
                        <h4 class="h5">Sampler: DPM++ 2M Karras, Model: deliberate_v2</h4>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/dark_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">
                            night, b&w photo of old house, post apocalypse, forest, storm weather, wind, rocks, 8k uhd, dslr, 
                            soft lighting, high quality, film grain, (lora:epiNoiseoffset_v2:1.5)
                        </p>
                        <h4 class="h5">Sampler: Euler a, Model: realisticVisionV20</h4>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/landscape_2_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">
                            (cave, hills, Dichondra, Floratam, The Peach Tree, Hackberry, white oak, maple tree:0.9), 
                            (in style of Adriaen van de Venne:1.1), digital art, trending on artstation, detailed, hdr, 
                            cinematic, (lora:lowra_v10:0.7)
                        </p>
                        <h4 class="h5">Sampler: DPM++ 2M Karras, Model: dreamlike-photoreal-2.0</h4>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/landscape_1_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">
                            cascade of arches, red gate, forest with trees in the background, japan garden, bonsai, sharp details, 
                            a medieval village in switzerland, mess jungle in background, ornate, beautiful, atmosphere, vibe, flowers, 
                            concept art illustration, greg rutowski, volumetric lighting, sunbeams, particles, colorful clothes, 
                            by Jean-Baptiste Monge, Gilles Beloeil, Tyler Edlin, Marek Okon, Pixar, album art, comic style, golden ratio, 
                            perfect composition, a masterpiece, trending on artstation, oversaturated, epic realistic, hdr, intricate details, 
                            rutkowski, intricate, cinematic, detailed
                        </p>
                        <h4 class="h5">Sampler: DPM++ 2M Karras, Model: realisticVisionV20</h4>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/gothic_girl_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">gothic girl, dark forest in the background, (dark:1.4), deep shadow, darkness, 
                            (moonlight:1.3), award winning photo, 
                            extremely detailed, amazing, fine detail, absurdres, highly detailed woman, extremely detailed eyes and face, 
                            piercing red eyes, detailed clothes, skinny, (gothic), twintails, bangs, frills, skirt,red hair, 
                            by lee jeffries, nikon d850 film, stock photograph, 4 kodak, portra 400 camera f1.6 lens, rich colors, 
                            hyper realistic, lifelike texture, dramatic, lighting, unrealengine, trending on artstation, 
                            cinestill 800 tungsten, Style-Neeko, (facial clarity:1.5),(transparent clothes:1.1),anatomical, (tattoo:1.1)
                        </p>
                        <h4 class="h5">Sampler: DPM++ 2M Karras, Model: revAnimated_v121</h4>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/tree_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">
                            poly-hd,logo of microcontroller tree, bonsai, cold fire, technology, cybernetics, 
                            black and blue, on white background,flat color
                        </p>
                        <h4 class="h5">Sampler: Euler a, Model: deliberate_v2</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
{% endblock %}
