{% extends "components/_base.html" %}

{% block page_content %}

<section class="section-header bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                <div class="card shadow p-2 p-md-4">
                    <div class="card-body py-4 px-0">
                        <img src="../static/assets/images/pages/home_1_opt.jpg" class="card-img-top rounded mb-3" alt="SD Art example">
                        <h3 class="h4">Img 1</h3>
                        <p class="card-text mb-2">Prompt</p>
                        <p class="card-text mb-2">Negative Prompt</p>
                    </div>
                    <div class="card-footer bg-white pb-0 px-0">
                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                            <div class="post-meta">
                                <button class="btn me-3 btn-link text-primary"><span class="fas fa-share me-2"></span>Share</button>
                                <button class="btn btn-secondary"><span class="far fa-save me-2"></span>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                <div class="card shadow p-2 p-md-4">
                    <div class="card-body py-4 px-0">
                        <img src="../static/assets/images/pages/home_2_opt.jpg" class="card-img-top rounded mb-3" alt="SD Art example">
                        <h3 class="h4">Img 2</h3>
                        <p class="card-text mb-2">Prompt</p>
                        <p class="card-text mb-2">Negative Prompt</p>
                    </div>
                    <div class="card-footer bg-white pb-0 px-0">
                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                            <div class="post-meta">
                                <button class="btn me-3 btn-link text-primary"><span class="fas fa-share me-2"></span>Share</button>
                                <button class="btn btn-secondary"><span class="far fa-save me-2"></span>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                <div class="card shadow p-2 p-md-4">
                    <div class="card-body py-4 px-0">
                        <img src="../static/assets/images/pages/landscape_1_opt.jpg" class="card-img-top rounded mb-3" alt="SD Art example">
                        <h3 class="h4">Img 3</h3>
                        <p class="card-text mb-2">Prompt</p>
                        <p class="card-text mb-2">Negative Prompt</p>
                    </div>
                    <div class="card-footer bg-white pb-0 px-0">
                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                            <div class="post-meta">
                                <button class="btn me-3 btn-link text-primary"><span class="fas fa-share me-2"></span>Share</button>
                                <button class="btn btn-secondary"><span class="far fa-save me-2"></span>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                <div class="card shadow p-2 p-md-4">
                    <div class="card-body py-4 px-0">
                        <img src="../static/assets/images/pages/gothic_girl_opt.jpg" class="card-img-top rounded mb-3" alt="SD Art example">
                        <h3 class="h4">Img 4</h3>
                        <p class="card-text mb-2">Prompt</p>
                        <p class="card-text mb-2">Negative Prompt</p>
                    </div>
                    <div class="card-footer bg-white pb-0 px-0">
                        <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                            <div class="post-meta">
                                <button class="btn me-3 btn-link text-primary"><span class="fas fa-share me-2"></span>Share</button>
                                <button class="btn btn-secondary"><span class="far fa-save me-2"></span>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
