{% extends "components/_base.html" %}

{% block page_content %}

<section class="section-header bg-primary"> 
    <div class="container-wide">    
        <div class="row">
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/home_1_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/home_2_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/landscape_1_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">
                            japan style garden, bonsai, sharp details, a medieval village, ornate, beautiful, 
                            atmosphere, vibe, flowers, concept art illustration, greg rutowski, volumetric lighting, sunbeams, 
                            particles, by Jean-Baptiste Monge, Gilles Beloeil, Tyler Edlin, Marek Okon, Pixar, album art, 
                            comic style, golden ratio, perfect composition, a masterpiece, trending on artstation, oversaturated, 
                            epic realistic, hdr, intricate details, rutkowski, intricate, cinematic, detailed
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card shadow">
                    <img src="../static/assets/images/pages/gothic_girl_opt.jpg" class="card-img-top rounded" alt="Themesberg office">
                    <div class="card-body">
                        <h4 class="h5 card-title">Prompt</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
{% endblock %}
