{% extends "components/_base.html" %}

{% block page_content %}
<title> Trade4Me - Trading Project </title>
<meta name="description" content="See what I am up to in the trading world. 
Read about project, maybe pick up a tip or two. Nothing too fancy.">

<section class="section-header bg-primary text-white">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-md-8 text-center text-md-left mb-3">
                <h2 class="display-3 mb-3"> Trade for me. </h2>
                <p class="lead">
                    Global macro trends provide us with invaluable insights 
                    into the potential future. My objective is to diligently monitor these trends and strive 
                    to interpret them with utmost accuracy. The purpose of this project is to develop practical 
                    automations that facilitate efficient market observation and enable prompt decision-making. 
                    In the final stages, I aim to leverage machine learning to automatically execute trade decisions.
                </p>
            </div>
            <div class="col-md-4 mb-3">
                <div id="Carousel3" class="carousel slide" data-ride="carouse3">
                    <div class="carousel-indicators">
                        <input type="radio" data-bs-target="#Carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Monthly return"></button>
                        <input type="radio" data-bs-target="#Carousel3" data-bs-slide-to="1" aria-label="Cumulative return"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 rounded zoomable" src="../static/assets/images/trade4me/monthly_return_chart1.png" alt="Monthly return">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 rounded zoomable" src="../static/assets/images/trade4me/monthly_return_chart2.png" alt="Cumulative return">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#Carousel3" role="button" data-bs-slide="prev">
                        <span class="fas fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Carousel3" role="button" data-bs-slide="next">
                        <span class="fas fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <h2 class="display-3 mb-4">Three-level Approach</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-6">
            <div class="row justify-content-center">
                <div class="timeline timeline-one dark">
                    <div class="timeline-item">
                        <h3 class="h4 mb-4">Global Macro level</h3>
                        <p>Get macro economics factors, companies quarter reports to predict trends on high-level and for long-term.</p>
                    </div>
                    <div class="timeline-item">
                        <h3 class="h4 mb-4">Company level</h3>
                        <p>Open/Close statistics on market for tech-analysis and med-term horizon prediction.</p>
                    </div>
                    <div class="timeline-item">
                        <h3 class="h4 mb-4">Daily-trading level</h3>
                        <p>5min trading data and news for inraday trading.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-sm bg-gray-200">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center mb-3">
                <h2 class="display-3 mb-3"> Daily-trading level </h2>
                <p class="lead"></p>
            </div>
        
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 text-center text-md-left mb-3">
                        <h4 class="mb-3">News Parser 
                            <a href="https://github.com/whoknowswhocares/NewsParser" target="_blank" aria-label="github social link" class="icon-github me-3">
                                <span class="fab fa-github"></span>
                            </a>
                        </h4>
                        <p> Daily News for intraday trading - collected info for fast decision-making. 
                            From various source get text info, store it, then using ML get summary and sentiment analysis.
                            Based on user preferences sort all news and send as telegram notification only top of the list.
                        </p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card-body border-gray-300">
                            <img src="../static/assets/images/trade4me/Architecture-NewsParser_dark.png" class="card-img-top zoomable" alt="News Parser scheme">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 text-center text-md-left mb-3">
                        <h4 class="mb-3">
                            <a href="{{ url_for('main.textsummary') }}">TextSummary</a>
                            <a href="https://github.com/WhoKnowsWhoCares/Huggingface_TextSummary" target="_blank" aria-label="github social link" class="icon-github me-3">
                                <span class="fab fa-github"></span>
                            </a>
                        </h4>
                        <p> Dedicated service for Summarization and Sentiment of the text. For it I use dockerized FastAPI server with simple Gradio interface.
                            Additionaly there are lazy loading for ML models to release resources and verification to prevent bots from constantly use this service.
                            API available through base authentication.
                        </p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card-body border-gray-300">
                            <img src="../static/assets/images/trade4me/textsummary.png" class="card-img-top rounded zoomable" alt="Text Summary interface">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
