{% extends "components/_base.html" %}

{% block page_content %}
<title> Trade4Me - Trading Project </title>
<meta name="description" content="See what I am up to in the trading world. 
Read about project, maybe pick up a tip or two. Nothing too fancy.">

<section class="section-header bg-primary text-white">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="text-center text-md-left mb-3">
                <h2 class="display-3 mb-3"> Trade for me. </h2>
                <p class="lead">Another area of interest for me is the stock market. We are currently living in a time 
                    of great intrigue as global economics undergo significant changes and potential crises 
                    loom on the horizon. There are compelling indications that the world order is shifting, 
                    and we find ourselves in the initial stages of these transformative shifts. 
                    Isn't it absolutely fascinating? Global macro trends provide us with invaluable insights 
                    into the potential future. My objective is to diligently monitor these trends and strive 
                    to interpret them with utmost accuracy. The purpose of this project is to develop practical 
                    automations that facilitate efficient market observation and enable prompt decision-making. 
                    Moreover, in the final stages, I aim to leverage machine learning to automatically execute trade decisions.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <h2 class="display-3 mb-4"> Stack </h2>
                <!-- <p class="lead">Info</p> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mb-2">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- <a href="{{ url_for('main.mlsport') }}"><h3 class="h5 card-title">ML Sport</h3></a> -->
                        <p class="card-text mb-2">
                            Test
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <h2 class="display-3 mb-4"> As Is </h2>
                <!-- <p class="lead">Info</p> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mb-2">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- <a href="{{ url_for('main.mlsport') }}"><h3 class="h5 card-title">ML Sport</h3></a> -->
                        <p class="card-text mb-2">
                            Test
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-sm bg-primary-app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <h2 class="display-3 mb-4"> Next Steps </h2>
                <!-- <p class="lead">Info</p> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mb-2">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- <a href="{{ url_for('main.mlsport') }}"><h3 class="h5 card-title">ML Sport</h3></a> -->
                        <p class="card-text mb-2">
                            Test
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
